@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');

* {
    background: #ACD2ED;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
}

.calculator {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 301px;
    height: 494px;
    background: #4A5859;
    border: 3px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 9px;
    row-gap: 21px;
}

.display {
    width: 285px;
    height: 95px;
    background: #D9D9D9;
    border: 3px solid #000000;
    border-radius: 5px 5px 0px 0px;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    word-wrap: break-word;
    word-break: break-all;

}

.previous-operand {
    background: none;
    font-family: 'DotGothic16', sans-serif;
    font-size: 1.5rem;
    margin: 10px;
}

.current-operand {
    font-size: 2.5rem;
    background: none;

    font-family: 'DotGothic16', sans-serif;
    margin: 10px;

}

.buttonArea {
    background: #4A5859;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 9px;
    width: 285px;
}

.butang {
    border: 3px solid #000000;
    border-radius: 5px;
    padding: 0.9rem;
    width: 65px;
    height: 65px;
    background: #D9D9D9;
}

.button {
    background: none;
}

#acBtn,
#cBtn,
#percentBtn,
#negativeBtn,
#decimalBtn {
    background: #BEA57D;
}

#divideBtn,
#plusBtn,
#minusBtn,
#multiplyBtn,
#equalBtn {
    background: #BB4430;
}